#page-result-point {
    width: 100%;
    max-width: 1100px;
  
    margin: 0 auto;
  }

  #page-result-point #navLine {
      background-color: var(--primary-color);
      width: 100%;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      margin: -1px;
      z-index: -999;
  }

  #page-result-point #figure {
    background-image: url('../../assets/figura-three.png');
    background-size: 300px;
    background-repeat: no-repeat;
    position: fixed;
    width: 300px;
    height: 367px;
    right: 0;
    bottom: -60px;
    z-index: -9999;
  }
  
  #page-result-point header {
    margin-top: 48px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #page-result-point header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;
  
    display: flex;
    align-items: center;
  }
  
  #page-result-point header a svg {
    margin-right: 16px;
    color: var(--primary-color);
  }
  
  #page-result-point form {
    margin: 80px auto;
    padding: 64px;
    max-width: 730px;
    min-width: 730px;
    background: #FFF;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
  }
  
  #page-result-point form h1 {
    font-size: 36px;
  }
  
  #page-result-point form fieldset {
    margin-top: 64px;
    min-inline-size: auto;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
  }

  #page-result-point form fieldset .items {
      display: flex;
      margin-bottom: 20px;
      position: relative;
  }

  #page-result-point form fieldset .items .itensColeta {
    position: absolute;
    right: 0;
}

  #page-result-point form fieldset .items svg {
    height: 24px;
    width: 24px;
  }

  #page-result-point form fieldset .items .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 20px;
  }

  #page-result-point form fieldset .items .imageLocal {
    width: 144px;
    height: 144px;
    overflow: hidden;
    border-radius: 9px;
  }

  #page-result-point form fieldset .items .imageLocal img {
    width: 144px;
    height: 144px;
  }

  #page-result-point form fieldset .mapItem {
    height: 0px;
    overflow: hidden;
    transition: all 0.1s linear;
    margin-bottom: 0;
  }

  .verMapa {
    cursor: pointer;
    font-size: 10pt;
    color: var(--primary-color);
    user-select: none;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .showMap {
    height: 350px !important;
  }

  #page-result-point form fieldset .items .items-coleta {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  #page-result-point form fieldset .items .info p strong {
      color: var(--primary-color);
  }

  #page-result-point form fieldset .items svg {
      color: var(--primary-color);
  }

  #page-result-point form legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  #page-result-point form legend h2 {
    font-size: 24px;
  }
  
  #page-result-point form legend span {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-color);
  }
  
  #page-result-point form .field-group {
    flex: 1;
    display: flex;
  }
  
  #page-result-point form .field {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  
  #page-result-point form .field input[type=text],
  #page-result-point form .field input[type=email],
  #page-result-point form .field input[type=number] {
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
  }
  
  #page-result-point form .field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
  }
  
  #page-result-point form .field input::placeholder {
    color: #A0A0B2;
  }
  
  #page-result-point form .field label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  #page-result-point form .field :disabled {
    cursor: not-allowed;
  }
  
  #page-result-point form .field-group .field + .field {
    margin-left: 24px;
  }
  
  #page-result-point form .field-group input + input {
    margin-left: 24px;
  }
  
  #page-result-point form .field-check {
    flex-direction: row;
    align-items: center;
  }
  
  #page-result-point form .field-check input[type=checkbox] {
    background: #F0F0F5;
  }
  
  #page-result-point form .field-check label {
    margin: 0 0 0 8px;
  }
  
  #page-result-point form .leaflet-container {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 24px;
  }
  
  #page-result-point form button {
    width: 260px;
    height: 56px;
    background: var(--primary-color);
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  #page-result-point form button:hover {
    background: #2FB86E;
  }
  
  .items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
  }
  
  .items-grid li {
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
    height: 180px;
    border-radius: 8px;
    padding: 32px 24px 16px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    text-align: center;
  
    cursor: pointer;
  }
  
  .items-grid li span {
    flex: 1;
    margin-top: 12px;
  
    display: flex;
    align-items: center;
    color: var(--title-color)
  }
  
  .items-grid li.selected {
    background: #E1FAEC;
    border: 2px solid #34CB79;
  }